.container {  display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "Header Header Header Header"
      "Sidebar Main Main Aside"
      "Sidebar Main Main Aside"
      "Sidebar List List Aside"
      "Sidebar List List .";
  }
  
  .Header { grid-area: Header; }
  
  .Sidebar { grid-area: Sidebar; }
  
  .Main { grid-area: Main; }
  
  .Aside { grid-area: Aside; }
  
  .List { grid-area: List; }
  