.aside_item{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.aside_item div{
    text-align: left;

}
.aside_item img{
    width: 45px;
    height: 45px;
    align-self: center;
}

.aside_container h5{
    font-size: 1.1rem;
    font-weight: bold;
    color: white;
    letter-spacing: 1px;
    padding-left: 25px;
}

.aside_item h4{
    font-size: 1rem;
    font-weight: 600;
    color: white;
    letter-spacing: 2px;
}

.aside_item p{
    font-size: 0.9rem;
    font-weight: lighter;
    color:white;

}

.aside_item span{
    font-size: 0.7rem;
    font-weight: lighter;
    color:white;
}

