.header {
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 50px;
    padding-top: 20px;
    border-radius: 10px;
    background-color: #2C2F33;
    box-shadow: 0px 4px 4px 0px #00000040;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    
}

.nav{
    display: flex;
}

.nav img{
    margin-right: 40px;
    object-fit: cover;
}

.container_buttons .button_dashboard{
    margin-right: 20px;
}

.container_buttons {
    display: flex;
    list-style: none;
    
}

.container_buttons .button_dashboard {
    width: 100px;
    height: 35px;
    border-radius: 13px;
    border: none;
    color: #1A91FA;
    background: #2C2F33;
    font-weight: 600;
    font-size: 1rem;
    box-shadow: -6.22302px -6.22302px 18.6691px #3B4451, 6.22302px 6.22302px 18.6691px #000000;
    transition: transform 0.4s;
    cursor: pointer;
    letter-spacing: 1px;
}

.container_buttons .button_dashboard:hover{
    transform: scale(1.15);
    color:white;
}


.container_buttons .button_help{
    width: 100px;
    height: 35px;
    border-radius: 13px;
    border: none;
    color: #CEDBDC;
    background: #2C2F33;
    font-weight: 600;
    font-size: 1rem;
    box-shadow: -6.22302px -6.22302px 18.6691px #3B4451, 6.22302px 6.22302px 18.6691px #000000;
    transition: transform 0.4s;
    cursor: pointer;
    letter-spacing: 1px;
}

.container_buttons .button_help:hover{
    transform: scale(1.15);
    color: #1A91FA;
}

.nav .alert {
    width: 30px;
    height: 30px;
    border-radius: 5px;
    background: #2C2F33;
    box-shadow: -6.22302px -6.22302px 18.6691px #3B4451, 6.22302px 6.22302px 18.6691px #000000;
    transition: transform 0.4s;
    cursor: pointer;
   
}

.nav .alert:hover{
    transform: scale(1.15);
    background-color: rgb(239, 233, 32);
}

.nav .avatar {
    width: 30px;
    height: 30px;
    background: #2C2F33;
    border-radius: 50%;
    box-shadow: -6.22302px -6.22302px 18.6691px #3B4451, 6.22302px 6.22302px 18.6691px #000000;
    
}

.nav .user{
    display: flex;
    justify-content: space-around;
    width: 120px;
    height: 35px;
    margin: 0 auto;
    border-radius: 13px;
    border: none;
    color: #ffffff;
    background: #2C2F33;
    font-weight: 600;
    box-shadow: -6.22302px -6.22302px 18.6691px #3B4451, 6.22302px 6.22302px 18.6691px #000000;
    transition: width 2s, height 2s, transform 2s;
    cursor: pointer;
}

.nav .user:hover{
    width: 110px;
    height: 35px;
    transform: rotate(360deg);
}

.nav .user span{
    font-size: 0.8rem;
    align-self: center;
    letter-spacing: 1px;
}

.nav .user .arrow {
    align-self: center;
    width: 8px;
    height: 8px;

}

/* @media only screen and (min-width:375px) and (max-width: 700px) {
    .container_buttons .button_dashboard{
        width: 70px;
    }
    .container_buttons .button_help{
        width: 70px;
    }
    .nav .user{
        width: 50px;
    }
    .nav .alert{
        width: 20px;
        height: 20px;
    }
    .nav .avatar {
        width: 20px;
        height: 20px;
    }
    .nav .user {
        display: none;
    }


}
    

@media only screen and (min-width:701px) and (max-width: 1300px) {
    .container_buttons .button_dashboard{
        width: 90px;
        
    }
    .container_buttons .button_help{
        width: 90px;
    }
    .nav .user{
        width: 70px;
    }
    .nav .alert{
        width: 30px;
        height: 30px;
    }
    .nav .avatar {
        width: 30px;
        height: 30px;
    }
    .nav .user span{
        font-size: 0.5rem;
    }
    
} */
