.item_container_flex h3 {
    font-size: 1rem;
    font-weight: bold;
    color:#FFFFFF;
    letter-spacing: 1px;
}

.item_container_flex {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 80%;
    height: 25px;
    margin: 0 auto 1.5rem auto;
    background: #2C2F33;
    box-shadow: -6.22302px -6.22302px 18.6691px #3B4451, 6.22302px 6.22302px 18.6691px #000000;
    border-radius: 25px;
    padding: 8px 20px;
    transition: transform 0.5s;
}

.item_container_flex:hover{
    transform: scale(1.10);

}

.item_container_flex img {
    width: 25px;
    height: 25px;
    
}

.item_container_flex p {
    font-size: 0.7rem;
    font-weight: bold;
    color:#FFFFFF;
    letter-spacing: 1px;
}

.item_container_flex button {
    display:flex;
    flex-direction: row;
    justify-content: center;
    width: 90px;
    border-radius: 21px;
    background: #00000040;
    box-shadow: -6.22302px -6.22302px 18.6691px #3B4451, 6.22302px 6.22302px 18.6691px #000000;
    border: none;
    cursor: pointer;
    transition: transform 0.4s;
    letter-spacing: 1px;
}

.item_container_flex button:hover{
    transform: scale(1.15);
}

.item_container_flex button span{
    align-self: center;
    color: #FEEB00;
    font-weight: bold;
    font-size: 0.9rem;
    letter-spacing: 1px;
}

/* @media only screen and (min-width:375px) and (max-width: 700px){
    
    .item_container_flex{
        width: 60%;
    }
    .item_container_flex img {
        width: 18px;
        height: 18px;
    }
    .item_container_flex h3{
        font-size: 0.5rem;
    }

    .item_container_flex button{
        width: 50px;
        height: 20px;
    }

    .item_container_flex button span{
        font-size: 0.3rem;
    }

}

@media only screen and (min-width:701px) and (max-width: 1200px){
    
    .item_container_flex{
        width: 55%;
        
    }
    .item_container_flex img {
        width: 20px;
        height: 20px;
    }
    .item_container_flex h3{
        font-size: 0.7rem;
    }

    .item_container_flex button{
        width: 70px;
        height: 20px;
    }

    .item_container_flex button span{
        font-size: 0.5rem;
    }

}
 */
