
.general_container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    height: auto;
    margin: 0 auto;
    text-align: center;
}


/* @media only screen and (min-width:375px) and (max-width: 700px){
    .general_container{
        width: 100%;
        height: auto;
        flex-wrap: wrap;
       
    }  

}

@media only screen and (min-width:800px) and (max-width: 1500px){
    .general_container{
        width: 80%;
        flex-wrap: wrap;
    }
}

@media only screen and (min-width:1200px) and (max-width: 1700px){
    .general_container{
        width: 70%;
        flex-wrap: wrap;
        
    }
}
 */

